@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

body {
    line-height: 1;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

/* 調整用スタイル */

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.footer {
    background-color: #f6f6f6;
    height: 200px;
    display: flex;
}

.footer div {
    margin: auto;
}

/* ヘッダー */

@media screen and (min-width: 960px) {
    .header {
        height: 80px;
    }
}

.header__inner {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    position: relative;
}

/* ヘッダーのロゴ部分 */

@media screen and (min-width: 960px) {
    .header__title {
        width: 140px;
    }
}

/* ヘッダーのナビ部分 */

.header__nav {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin: 0;
    height: 100vh;
    transform: translateX(100%);
    background-color: #fff;
    transition: ease 0.4s;
    display: flex;
}

@media screen and (min-width: 960px) {
    .header__nav {
        position: static;
        transform: initial;
        background-color: inherit;
        height: inherit;
        display: flex;
        justify-content: end;
    }
}

.nav__items {
    margin: auto;
}

@media screen and (min-width: 960px) {
    .nav__items {
        margin: initial;
        width: 100%;
        display: flex;
        align-items: center;
        height: initial;
        justify-content: space-between;
    }
}

.nav-items__item {
    cursor: pointer;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 1.4rem;
}

@media screen and (min-width: 960px) {
    .nav-items__item:before {
        position: absolute;
        content: "";
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 2px;
        background: orange;
        opacity: 0;
    }

    .nav-items__item:hover:before {
        opacity: 1;
    }
}

/* ナビのリンク */
.nav-items__item a {
    color: black;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 24px;
    margin-bottom: 24px;
}

.nav-items__item:last-child a {
    margin-bottom: 0;
}

@media screen and (min-width: 960px) {
    .nav-items__item a {
        margin-bottom: 0;
        font-size: 18px;
    }
}

/* ハンバーガーメニュー */
.header__hamburger {
    width: 48px;
    height: 100%;
}

.hamburger {
    background-color: transparent;
    border-color: transparent;
    z-index: 9999;
    cursor: pointer;
}

@media screen and (min-width: 960px) {
    .hamburger {
        display: none;
    }
}

/* ハンバーガーメニューの線 */
.hamburger span {
    width: 100%;
    height: 1px;
    background-color: #000;
    position: relative;
    transition: ease 0.4s;
    display: block;
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2) {
    margin: 8px 0;
}

.hamburger span:nth-child(3) {
    top: 0;
}

/* ハンバーガーメニュークリック後のスタイル */
.header__nav.active {
    transform: translateX(0);
}

.hamburger.active span:nth-child(1) {
    top: 5px;
    transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    top: -13px;
    transform: rotate(-45deg);
}

.clock-setting-btn-item {
    background-color: white;
    text-decoration: none;
    width: 48%;
    max-width: 180px;
    min-width: 100px;
    flex: 0 0 auto;
    border-radius: 10px;
    padding: 15px;
    transition: 0.3s;
    text-align: center;
}

.clock-setting-btn-item:hover {
    transform: scale(1.03);
    opacity: 0.9;
    background-color: #9c9a9a;
}

.dash-link {
    text-decoration: none;
}

/*s:記事作成ページ*/
.dash-md-preview h1,
.dash-md-preview h2 {
    margin-bottom: 1.1rem;
    border-bottom: 1px solid var(--color-gray-400);
}

.dash-md-preview h1 {
    padding-bottom: 0.2em;
    font-size: 1.7em;
}
.dash-md-preview h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
}

.dash-md-preview h3,
.dash-md-preview h4,
.dash-md-preview h5,
.dash-md-preview h6 {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.dash-md-preview h3 {
    font-size: 1.3em;
}

.dash-md-preview h4 {
    font-size: 1.1em;
}
.dash-md-preview h5 {
    font-size: 1em;
}

.dash-md-preview h6 {
    font-size: 0.9em;
}

.dash-md-preview p {
    margin: 0;
}

.dash-md-preview code {
    text-autospace: no-autospace;
    padding: 0.2em 0.4em;
    margin: 0 0.2em !important;
    background-color: var(--color-gray-700);
    font-size: 0.85em;
    border-radius: 4px;
    vertical-align: 0.08em;
}

.dash-md-preview pre {
    text-autospace: no-autospace;
    margin: 1.3rem 0;
    background: var(--color-gray-900);
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    word-break: normal;
    word-wrap: normal;
    display: flex;
}

.dash-md-preview pre code {
    background: transparent;
    padding: 10px;
}

.dash-md-preview a {
    color: var(--color-blue-500);
}

.dash-md-preview li {
    list-style: disc;
    margin-left: 1.3em;
}

.dash-md-preview table {
    margin: 1.2rem auto;
    width: auto;
    border-collapse: collapse;
    font-size: 0.95em;
    line-height: 1.5;
    word-break: normal;
    display: block;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.dash-md-preview thead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

.dash-md-preview tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: var(--color-gray-400);
}

.dash-md-preview th {
    font-weight: 700;
    background: var(--color-gray-900);
    padding: 0.5rem;
    border: 1px solid var(--color-gray-400);
}

.dash-md-preview blockquote {
    margin: 1.3rem 0;
    padding-left: 0.5rem;
    border-left: 3px solid var(--color-gray-400);
    display: block;
}
